* {
    font-family: 'Montserrat', sans-serif;

    color: #FFF;


    font-size: 24px;
    overflow: hidden;
}

.event-follower {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');

}

.event-cheer {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/bits.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/bits.svg');
}

.event-host {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/host.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/host.svg');
}

.event-raid {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/raid.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/raid.svg');
}

.event-sub {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/sub.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/sub.svg');
}

.event-tip {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/tip.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/tip.svg');
}

.event-redemption {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/redemption.svg');
}

@keyframes slide-in {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@keyframes pop-in {
    0% {
        width: 0px;
        height: 0px;
        background-size: 0px 0px;
        margin-top: 23px;
        margin-left: 24px;
    }

    50% {
        width: 0px;
        height: 0px;
        background-size: 0px 0px;
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px
    }

    85% {
        width: 23px;
        height: 23px;
        background-size: 23px 23px;
        margin-top: 1px;
        margin-left: 2px;
        margin-right: 0px;
        margin-bottom: 0px
    }

    100% {
        width: 21px;
        height: 21px;
        background-size: 21px 21px;
        margin-top: 2px;
        margin-left: 3px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.event-container {
    opacity: 0.6;
    width: 0px;
    height: 28px;
    display: flex;
    justify-content: right;

    background-color: #AAAAAA;
    border-radius: 14px;
    margin-top: 3px;
    animation: 0.6s slide-in;
    animation-fill-mode: forwards;
}

.event-container:nth-child(1) {
    opacity: 1;
}

.backgroundsvg {
    background: url(https://s3.amazonaws.com/cdn.streamelements.com/static/event-list/patterns/pattern.svg);
    background-size: 100px;
    width: 100%;

    opacity: 1;
    position: relative;
    z-index: 0;
}

.event-image {
    animation: 0.7s pop-in;
    animation-fill-mode: forwards;
    object-fit: contain;
    display: inline-block;
    width: 20px;
    -webkit-mask-size: cover;
    mask-size: cover;

    background-color: #F00;
    position: absolute;
}

.username-container {
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    width: 140px;
    font-weight: 400;
    margin-top: 4px;
    margin-left: 33px;
    position: absolute;
}

.details-container {
    position: absolute;
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    right: 0px;
    vertical-align: super;
    font-size: smaller;
    font-weight: 700;
    text-align: right;
    margin-right: 15px;
    margin-left: 85px;
    margin-top: 3px;
}